
* {
  margin: 0;
	padding: 0;
  border: 0;
  /* max-width: 100%; */
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url(imgs/good.jpeg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  /* border: solid 2px white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%
}

.welcome {
  /* border: red 2px solid; */
  background-color: rgba(24, 39, 51 , 0.85);
  padding: 6%;
}
/* sauti text start */
.showcase h1 {
  font-size: 4.5rem;
  font-family: 'Caveat', cursive;
}
/* sauti text . start */
.showcase h1 span {
  font-size: 4.8rem;
  color: red;
}
.showcase h2 {
  font-size: 2rem;
}
/* p text start */
.showcase p {
  
  font-size: 1.1rem;
}

.btn {
  font-size: 1.2rem;
  display: inline-block;
  border: none;
  background-color: rgba(255, 99, 71, 0.65);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
  margin: 2%;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: rgba(255, 99, 71, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background-color: rgba(24, 39, 51 , 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

 nav a {
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.4s ease;
  display: flex;
  flex-direction: column;
}

nav a:hover {
  font-size: 2.2rem;
}

.whatWeDo {
  background: rgba(255, 99, 71, 0.8);
  color: white;
  padding: 1.8%;
  display: flex;
  flex-direction: column;
}

.whatWeDo h2 {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 1%;
}

.whatWeDo p {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
.whatWeDo div{
  display: flex;
 justify-content: center;
}
.whatWeDo a {
  font-size: 1.2rem;
  display: inline-block;
  border: none;
  background-color: rgba(24, 39, 51 , 0.85);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
  margin: 2%;
}

.whatWeDo a:hover {
  opacity: 0.85;
}

.ourServices{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 2%;
}

.mainboxes{
  /* background-color: chocolate; */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vw;
  /* height: 250vh; */
}


.boxes{
  /* border:blue 2px solid; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 0 2vw;
}

.imgs{
  /* border: solid black 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes img {
  width: 35vw;
  height: 48vh;
  /* height: 45%; */
  display: flex;
  /* margin: 0 3% 0 8%; */
}
.boxes img:hover {
  border: 2px solid black;
    box-shadow: 5px 9px 4px #888888;
}

.boxesText h3, .boxesText p {
  font-size: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.boxesText p {
  font-size: 1.3rem;
  
}

.boxesText div {
/* border: steelblue solid 2px; */
display: flex;
justify-content: center;

}


footer {
  background: rgba(255, 99, 71, 0.65);
  /* height: 8vh; */
  margin-top: 2vh;

  
}

.footerContant{
  margin: 2.5rem 1rem 0;
  display: flex;
  justify-content: flex-end;
}

footer p {
  color: #fff;
  font-size: .8rem;
  padding: 1.5rem;
  width: 20rem;
  
}

.social {
  width: 20rem;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  border: white solid .5px;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  border: white solid .5px;
  background: #55ACEE;
  color: white;
}


@media (max-width: 1200px){
  
  .boxesText h3 {
    font-size: 1.3rem;
    padding: 1rem;
  }
  
  .boxesText p {
    font-size: 1rem;
    padding: .5rem;
  }

  .boxes img {
    width: 50vw;
    height: 40vh;
  }
}


@media (max-width: 800px){
  
  .boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .boxes img {
    width: 70vw;
    height: 40vh;
  }

}

@media (max-width: 500px){
  .boxes img {
    width: 75vw;
    height: 40vh;
  }

  .footerContant{
    /* border: 2px black solid; */
    margin: 2.5rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social {
    display: flex;
    justify-content: center;
    /* border: solid red 2px; */
    width: 100%;
  }
}